//
//
// Created by PhpStorm.
// User: pascal
// Date: 2019-07-16
// Time: 17:05
//

html {
    
}

body {
    position: relative;
    @apply font-rubik-regular text-gray-800 bg-black;
}


// Liens
a {
    color: inherit;
    opacity: 0.6;
    transition: opacity, 0.2s;
    @apply .no-underline;

    &:hover, &:focus {
        opacity: 1;
        @apply .no-underline;
    }
}

